<footer class="app-footer">
  <div class="footer-bottom">
    <div class="container bottom-flex">
      <div class="copyright-text">
        <span>© 2026 MiniSwiggy. Designed & Developed by <strong>Amit</strong>. All rights reserved.</span>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/AMIT.MAURYA2001?rdid=ffdfCfvK9wEsshdJ&share_url=https%3A%2F%2Fwww.facebook.com%2Fshare%2F14MeUArZZFV%2F#" target="_blank" rel="noopener noreferrer" title="Facebook"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/amit_._maurya?igsh=MTlrbjV1MWh3d2QycA%3D%3D" target="_blank" rel="noopener noreferrer" title="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://x.com/Amit_maury_?t=XDPdJIc6AI4-AxNdhZ_WRg&s=08" target="_blank" rel="noopener noreferrer" title="X (Twitter)"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://www.linkedin.com/in/amit-mauryaa" target="_blank" rel="noopener noreferrer" title="LinkedIn"><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</footer>
